{
  "plateformes" : {
      "plateforme_0" : {
        "url" : "url_edi_plateforme_0",
        "userpwd" : "login:pwd"
      },
      "plateforme_1" : {
        "url" : "url_edi_plateforme_1",
        "userpwd" : "login:pwd"
      },
      "plateforme_2 : {
        "url" : "url_edi_plateforme_2",
        "userpwd" : "login:pwd"
      }
    }
}
